* {
    
    font-family: Arial, Helvetica, sans-serif;
    
}
html {
    background-color: #f4f5f7;
}
.todo {
    
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 1px rgb(247, 241, 241) solid;
    border-radius: 10px;
    background-color: white;
}
.todo2 {
    background-color: white;
}
#enlace {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding-top: 1em;
    
    
}
h4 {
    margin-left: 0;
}
.login {
    margin: 0px;
    display: flex;
    flex-direction: column;
    
    
}
#emailInput, #passwordInput  {
    border-radius: 5px;
    height: 2.5em;
    width: 100%;
    border: 1px rgb(160, 155, 155) solid;
    margin: 0;
}

.boton {
    border-radius: 5px;
    height: 2.5em;
    background-color: #7e3af2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 1em;
    margin-bottom: 3em;
    cursor: pointer;
}
a {
    text-decoration: none;

}
.github {
    border-radius: 5px;
    height: 2.5em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0;
    margin-top: 1em;
    
    cursor: pointer;
}
.lo {
    margin-top: 3em;
}

.image {
    
    border-radius: 10px;
    background-position: center;
    height: 20vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(https://images.pexels.com/photos/4065864/pexels-photo-4065864.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
   body {
    margin: 0;
   }
@media only screen and (min-width: 640px) {
    .image {
        display: flex;
        height: 600px;
        width: 50%;
        margin: 0;
        
    } 
    .todo {
        display: flex;
        flex-direction: row;
    }
    .todo2 {
        width: 50%;
        margin-left: 1em;
        margin-right: 1em;
    }
    .github {
        margin-bottom: 1em;
    }
   
   
}
